.main{
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

.content{
  margin: 90px 232px 0;
}

.ops-title{
  line-height: 60px;
  margin: 0 0 0 130px;
}

.image{
  margin: 12px 12px;
}

.navbar-light .navbar-brand{
  margin-left: 80px;
  font-size: 30px;
}

.nav-link.dropdown-toggle{
  margin-right: 105px;
}

.navbar.navbar-expand-md.navbar-light.bg-white.shadow-sm{
  height: 70px;
  width: 100%;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.fas.fa-camera{
  font-size: 60px;
  color: rgb(110, 187, 212);
  position: absolute;
  right: 100px;
  bottom: 80px;
  position: fixed;
  cursor: pointer;  
}

.fas.fa-camera:hover{
  opacity: 0.5;
}

.file{
  display: none;
}

#modal-content{
  margin-top: 100px;
  margin-left: 72px;
  height: 420px;
  width: 340px;
}

.btn.btn-primary.mb-12{
  display: none;
}

.postimage{
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .navbar-nav.ml-auto{
    margin-right: 10px;
    position: relative;
    width: 80px;
  }
 }

 @media (max-width: 1420px) {
  .content {
    margin: 90px 218px 0;
  }
 }

 @media (max-width: 1420px) {
  .image {
    width: 280px;
    height: 280px;
  }
 }

 @media (max-width: 1340px) {
  .content {
    margin: 90px 200px 0;
  }
 }

 @media (max-width: 1340px) {
  .image {
    width: 260px;
    height: 260px;
  }
 }

 @media (max-width: 1240px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 1240px) {
  .image {
    width: 240px;
    height: 240px;
  }
 }

 @media (max-width: 1140px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 1140px) {
  .image {
    width: 220px;
    height: 220px;
  }
 }

 @media (max-width: 1082px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 1082px) {
  .image {
    width: 200px;
    height: 200px;
  }
 }

 @media (max-width: 1015px) {
  .content {
    margin: 90px 220px 0;
  }
 }

 @media (max-width: 1015px) {
  .image {
    width: 240px;
    height: 240px;
  }
 }

 @media (max-width: 991.98px) {
  .content {
    margin: 90px 220px 0;
  }
 }

 @media (max-width: 991.98px) {
  .image {
    width: 220px;
    height: 220px;
  }
 }

 @media (max-width: 930px) {
  .content {
    margin: 90px 200px 0;
  }
 }

 @media (max-width: 930px) {
  .image {
    width: 220px;
    height: 220px;
  }
 }

 @media (max-width: 880px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 880px) {
  .image {
    width: 220px;
    height: 220px;
  }
 }

 @media (max-width: 848px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 848px) {
  .image {
    width: 200px;
    height: 200px;
  }
 }

 @media (max-width: 813px) {
  .content {
    margin: 90px 180px 0;
  }
 }

 @media (max-width: 813px) {
  .image {
    width: 180px;
    height: 180px;
  }
 }

 @media (max-width: 772px) {
  .content {
    margin: 90px 210px 0;
  }
 }

 @media (max-width: 772px) {
  .image {
    width: 140px;
    height: 140px;
  }
 }

 @media (max-width: 740px) {
  .content {
    width: 350px;
    margin: 90px auto 0;
  }
 }

 @media (max-width: 740px) {
  .image {
    width: 350px;
    height: 300px;
  }
 }

 @media (max-width: 740px) {
  .fas.fa-camera {
    right: 60px;
    bottom: 40px;
  }
 }

 @media (max-width: 628px) {
  .fas.fa-camera {
    right: 20px;
    bottom: 10px;
  }
 }