.navbar{
  height: 70px;
}

.navbar-light .navbar-brand{
  font-size: 50px;
  font-family: 'Work Sans', sans-serif;
  color: gray;
}

.nav-link{
  font-size: 20px;
}

#github_btn{
  margin-left: 90px;
}